{% extends 'base.html' %} {% block content %}

<h1>Geaux-2 Texas Notary - Power of Attorney</h1>

<div class="services">
    <h1>Power of Attorney</h1>
    <p>Insert narritive about POA</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos, autem aspernatur! Quos veniam dolorem dolor sed, reiciendis amet explicabo? Eius, fugiat deleniti. Voluptatibus deleniti natus eveniet, atque nulla pariatur autem!</p>
    <a href="/submit.html" class="btn">Select Service</a>
    <!-- <button type="button">Select Service</button> -->

</div>

{% endblock content %}